.setup {

	.setup__main-col {
		width: 100%;

		@include breakpoint-sm() {
			width: 50%;
		}

		@include breakpoint-md() {
			width: calc(200% / 3);
		}
	}

	.setup__settings-col {
		width: 100%;

		@include breakpoint-md() {
			width: 50%;
		}

		.setup__log-download-button {
			margin-bottom: 0.5rem;
		}
	}

	.setup__time-col {
		width: 100%;

		@include breakpoint-md() {
			width: 50%;
		}

		.validated-text-input {
			display: flex;
			align-items: baseline;
			margin-bottom: 1rem;

			input {
				width: 6rem;
				margin: 0 0.5rem 0 0;
			}

			button {
				margin: 0;
			}

			span {
				margin-left: 0.5rem;
			}
		}

		input[type="datetime-local"] {
			display: block;
			margin: 0 0 0.5rem;
		}

		.timer {
			margin-bottom: 0.25rem;
		}
	}

	.setup__dice-roller-col {
		width: 100%;

		h3 {
			text-align: center;
		}
	}

	.setup__dice-roller-controller {
		width: 100%;

		@include breakpoint-sm() {
			width: 50%;
		}

		@include breakpoint-md() {
			width: calc(100% / 3);
			margin-left: calc(100% / 6);
		}
	}

	.setup__dice-roller-roll-list {
		width: 100%;

		@include breakpoint-sm() {
			width: 50%;
		}

		@include breakpoint-md() {
			width: calc(100% / 3);
		}
	}

	.setup__checklist-col {
		width: 100%;

		@include breakpoint-sm() {
			width: 50%;
		}

		@include breakpoint-md() {
			width: calc(100% / 3);
		}
	}
}
