.initiative-action-component {

	.initiative-action-component__roll {
		width: 50%;
		text-align: center;
	}

	.initiative-action-component__result {
		width: 100%;
		margin-bottom: 0.5rem;
		text-align: center;
	}

	.initiative-action-component__quick-strike-button {
		margin: 0 auto;
	}
}
