.room-action-result-list {

	.room-action-result-list__attack {
		margin-bottom: 0.25rem;
	}

	.room-action-result-list__title {
		width: 6.75rem;
	}

	.room-action-result-list__target {
		width: 4rem;
	}

	.room-action-result-list__roll {
		width: 7.5rem;
	}

	.room-action-result-list__result {
		width: calc(100% - 18.25rem);
	}

	.room-action-result-list__special-result {
		width: calc(100% - 6.75rem);
	}
}
