.monster-list-component {
	margin-bottom: 1rem;

	.monster-list-component__monster {
		justify-content: space-between;
		margin-bottom: 0.25rem;

		&--dead {
			color: var(--accent-color);
		}
	}

	.monster-list-component__name {
		width: calc(100% - 12rem);
	}

	.monster-list-component__taunt {
		width: 6rem;
	}

	.monster-list-component__health {
		width: 6rem;
		text-align: right;
	}

	.modal-component {
		display: block;

		.modal-component__open-button {
			display: block;
			margin-left: auto;
		}
	}

	.monster-list-component__adjust-monster {
		align-items: baseline;
		margin-bottom: 0.25rem;
	}

	.monster-list-component__adjust-name {
		width: 25%;
	}

	.monster-list-component__adjust-health {

		input {
			width: 4rem;
		}
	}
}
