.player-attack-list {

	.player-attack-list__attack {
		margin-bottom: 0.5rem;
	}

	.player-attack-list__name-col {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 0.25rem;

		@include breakpoint-sm() {
			width: 50%;
		}

		@include breakpoint-lg() {
			width: 16%;
		}
	}

	.player-attack-list__complete-button {
		margin: 0;
	}

	.player-attack-list__type {
		display: flex;
		width: 100%;
		margin-bottom: 0.25rem;
		padding-left: calc($grid-gutter-width / 2 + 1rem);

		@include breakpoint-sm() {
			width: 50%;
		}

		@include breakpoint-lg() {
			width: 24%;
			padding-left: calc($grid-gutter-width / 2);
		}

		select {
			margin: 0 0.25rem 0 0;
		}
	}

	.player-attack-list__aoe {

		input {
			width: 4rem;
		}
	}

	.player-attack-list__target {
		width: 100%;
		margin-bottom: 0.25rem;
		padding-left: calc($grid-gutter-width / 2 + 1rem);

		@include breakpoint-sm() {
			width: 50%;
		}

		@include breakpoint-lg() {
			width: 30%;
			padding-left: calc($grid-gutter-width / 2);
		}

		&.player-attack-list__target--none {
			color: #ccc;
		}

		input {
			width: 4rem;
		}
	}

	.player-attack-list__target-name {
		display: inline-block;
		width: 4rem;
	}
}
