.room-component {

	.room-component__title {
		width: 100%;
		text-align: center;
	}

	.room-component__monster-col,
	.room-component__control-col,
	.room-component__info-col {
		width: 100%;

		@include breakpoint-sm() {
			width: 50%;
		}

		@include breakpoint-md() {
			width: calc(100% / 3);
		}
	}

	.room-component__info-line {
		display: flex;
		justify-content: space-between;
		margin-bottom: 0.5rem;
	}

	.room-component__secondary-info-col {
		width: 100%;

		@include breakpoint-sm() {
			width: 50%;
		}

		@include breakpoint-md() {
			width: calc(200% / 3);
		}
	}

	.room-component__control-row {
		display: flex;
		margin-bottom: 0.5rem;

		button {
			margin: 0 calc($grid-gutter-width / 2) 0.25rem;
		}
	}

	.room-component__main-info-col {
		width: 100%;
	}

	.room-component__info-col,
	.room-component__secondary-info-col,
	.room-component__main-info-col {

		.collapse-component {

			.collapse-component__header {
				font-size: 1rem;
			}
		}

		ul {
			list-style: initial;
			margin-bottom: 0.5rem;
			padding-left: 1rem;
		}
	}

	.room-component__action-col {
		width: 100%;
		margin-bottom: 1rem;

		h3 {
			text-align: center;
		}
	}

	.room-action-result-list,
	.initiative-action-component {

		@include breakpoint-sm() {
			width: 80%;
			margin-left: 10%
		}

		@include breakpoint-md() {
			width: 60%;
			margin-left: 20%
		}

		@include breakpoint-lg() {
			width: 50%;
			margin-left: 25%
		}
	}
}
