.room-action-result-list {

	.room-action-result-list__title {
		width: 10%;
	}

	.room-action-result-list__target {
		width: 5%;
	}

	.room-action-result-list__roll {
		width: 10%;
	}

	.room-action-result-list__result {
		width: 75%
	}
}
