.player-list-component {
	align-items: stretch;

	.player-list-component__player-card {
		width: calc(100% / 2);
		margin-bottom: $grid-gutter-width;

		@include breakpoint-sm() {
			width: calc(100% / 3);
		}

		@include breakpoint-md() {
			width: calc(100% / 4);
		}

		@include breakpoint-lg() {
			width: calc(100% / 6);
		}
	}
}

.player-component {
	display: flex;
	flex-direction: column;
	height: 100%;
	border: 1px solid;
	padding: 0.5rem 0.5rem 0;
	background: var(--background-color);

	&.player-component--dead {

		.player-component__is-guarded,
		.player-component__ac-row,
		.player-component__ac-adjust-row {
			display: none;
		}
	}

	&.player-component--not-present {

		.player-component__title {
			color: var(--accent-color);
		}

		.player-component__checkbox-row,
		.player-component__ac-row,
		.player-component__ac-adjust-row {
			display: none;
		}
	}

	.player-component__title-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-bottom: 0.5rem;
	}

	.player-component__title {
		margin: 0;
	}

	.modal-component {

		.modal-component__open-button {
			margin: 0;
		}
	}

	.player-component__checkbox-row,
	.player-component__ac-row,
	.player-component__ac-adjust-row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 0.5rem;

		h4 {
			margin-bottom: 0;
		}
	}

	.player-component__ac-adjust-row {
		align-items: baseline;
		font-weight: 700;

		input {
			width: 4rem;
		}
	}

	.player-component__ac-value {
		width: 3.25rem;
		text-align: center;

		&--active {
			background: var(--accent-color);
		}
	}

	.player-component__status-row {
		margin-bottom: 0.5rem;

		h4 {
			display: inline;
			margin: 0 0.5rem 0 0;
		}
	}

	.player-misc-settings {
		width: 60%;
		margin-left: 20%;
		margin-bottom: 1rem;

		label {
			display: block;
			margin-bottom: 0.25rem;
		}
	}

	.player-stat-list {

		.player-stat-list__header {
			margin-bottom: 0.5rem;

			.col {
				width: calc(80% / 3);
				margin-left: 20%;

				+ .col {
					margin-left: 0;
				}
			}
		}

		.player-stat-list__row {
			margin-bottom: 0.25rem;
		}

		.player-stat-list__label {
			width: 20%;
		}

		.player-stat-list__input {
			width: calc(80% / 3);

			&.player-stat-list__input--full-width {

				input {
					width: 100%;
				}
			}

			input {
				width: 50%;
				margin: 0;
			}
		}
	}
}
