.epilogue-component {

	.epilogue-component__title {
		text-align: center;
	}

	.epilogue-component__info-col {
		width: 100%;

		@include breakpoint-md() {
			width: calc(100% / 3);
		}
	}

	.epilogue-component__info-line {
		display: flex;
		justify-content: space-between;
		margin-bottom: 0.5rem;
	}

	.epilogue-component__survivors-col,
	.epilogue-component__casualties-col {
		width: 100%;

		@include breakpoint-sm() {
			width: 50%;
		}

		@include breakpoint-md() {
			width: calc(100% / 3);
		}
	}

	.epilogue-component__player-list {
		margin-bottom: 0.5rem;
		padding-left: 1rem;
		list-style: initial;

		li {
			margin-bottom: 0.25rem;
		}
	}
}
