.settings-component {

	.modal-component &.modal-component__content {
		margin-bottom: 0;
	}

	.col {
		width: 100%;
	}

	.settings-component__half-col {

		@include breakpoint-sm() {
			width: 50%;
		}
	}

	.settings-component__button-list {
		display: flex;
		justify-content: space-between;
	}

	.info-box {
		margin-bottom: 1rem;

		select,
		button {
			margin: 0 0 0.5rem;
		}
	}
}
