$grid-gutter-width: 1rem;

@mixin breakpoint-sm() {
	@media (min-width: 720px) {
		@content;
	}
}

@mixin breakpoint-md() {
	@media (min-width: 1000px) {
		@content;
	}
}

@mixin breakpoint-lg() {
	@media (min-width: 1200px) {
		@content;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -0.5 * $grid-gutter-width;
	margin-right: -0.5 * $grid-gutter-width;
}

.col {
	flex: 0 0 auto;
	padding-left: 0.5 * $grid-gutter-width;
	padding-right: 0.5 * $grid-gutter-width;
}
