.bold {
	font-weight: 700;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.warning {
	color: red;
}

.info-box {
	margin-bottom: 0.5rem;
	border: 1px solid;
	padding: 0.5rem 0.5rem 0;
	background: var(--background-color);

	p {
		margin-bottom: 0.5rem;
	}
}

.info-table {
	margin: 0 auto 0.5rem;
	border-collapse: collapse;
	text-align: center;
	background: var(--background-color);

	th, td {
		border: 1px solid;
		padding: 0.125rem 1rem;
	}
}

.source-label {
	padding: 0 0.25rem;
	color: #fff;

	&.source-label--cyan {
		background: #5ab6b8;
	}

	&.source-label--gray {
		background: #7f7f7f;
	}

	&.source-label--green {
		background: #4ead5b;
	}

	&.source-label--dark-green {
		background: #264c40;
	}

	&.source-label--red {
		background: #b02418;
	}

	&.source-label--purple {
		background: #4a3167;
	}
}
